#playground {
	width: 640px;
	height: 480px;
	background-color: #000;
	position: static;
	display: inline-block;
        position: absolute;
        left: 30%;
        top: 20%;
}
#actualizar-btn{
  
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#actualizar-btn:hover {
	background-color: black;
        color: white;

}
#crear-btn{
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    
}
#crear-btn:hover {
	background-color: black;
        color: white;

}

#buscar-btn{
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    
}

#buscar-btn:hover{
    background-color: black;
        color: white;
    
}
#console-container {
	position: absolute;
	z-index: -1;
	justify-content: center;
	align-items: center;
	margin-left: 15px;
	width: 300px;
	display: inline-block;
}

#selector{

	background-color: rgb(255, 255, 255);
	z-index: 100;

}
#console {
	border: 1px solid #CCCCCC;
	border-right-color: #999999;
	border-bottom-color: #999999;
	height: 480px;
	overflow-y: scroll;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
}

#console p {
	padding: 0;
	margin: 0;
}

#partidas-container{

	display:inline-block;
	top:80%;
	left:10%;

	align-items: center;
	position: fixed;
	border: 1px solid #CCCCCC;
	border-right-color: #999999;
	border-bottom-color: #999999;
	background-color:#ff7f50ba;
	height: 480px;
	overflow-y: scroll;
	padding-right: 10px;
	width: 30%;

}

#partidas-container button{

	align-self: center;
	

}

#partidas{

	margin-left: 10px;
	margin-right: 10px;
	margin-top: 50 px;

}

#partidas div{

	margin-left: 10px;
	margin-right: 10px;
	margin-top: 50 px;
	margin-bottom: 20 px;

}
body {
    
    background: url(fondo.png)no-repeat fixed center center #333;
    background-size: cover;
}